NODE_ENVIRONMENT= development

PORT= 8080

# DATABASE_URL= "postgresql://username:password@localhost:port/database-name"
DATABASE_URL= "postgresql://name:pass@localhost:5432/database"

CORS_ORIGINS= "http://localhost:5173"

# JWT_ACCESS_TOKEN_SECRET= ff4e1ff85c49a8216abc7ff938a88f3f71cd9157752002c5d2f394ed3c80ebf3
# JWT_REFRESH_TOKEN_SECRET= 20c942af7bb34e19826b4df63239992091fd1ade8ac30ea71170581d7bf81cb7
# ACCESS_TOKEN_EXPIRY= "30d"
# REFRESH_TOKEN_EXPIRY= "60d"

JWT_SECRET= "ff4e1ff85c49a8216abc7ff938a88f3f71cd9157752002c5d2f394ed3c80eb53"
JWT_TOKEN_EXPIRY= "30d"